html,
a {
  cursor:
    url(images/dragonfly.png) 45 45,
    auto !important;
}

body {
  background-image: url(images/clerguePark.jpg);
  background-color: #000;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: Arial, sans-serif;
  height: 100vh;
  overflow: hidden;
}

#gameBody {
  background-image: url(images/clerguePark2.jpg);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  color: #fff;
}

#logoImage {
  max-width: 500px;
}

.display-3 {
  font-family: 'Impact', Arial, sans-serif;
  font-weight: bold;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #000;
}

/** Different mosquito sizes and directions */

.mosquito1 {
  width: 50px;
  height: 50px;
}

.mosquito2 {
  width: 70px;
  height: 70px;
}

.mosquito3 {
  width: 90px;
  height: 90px;
}

.direction_left {
  transform: scaleX(1);
}

.direction_right {
  transform: scaleX(-1);
}

/** Main panel which shows your lives, score and remaining time. */
.panel {
  position: absolute;
  width: 190px;
  padding: 10px;
  bottom: 0px;
  left: 0px;
  border-top: solid 1px #fff;
  background-color: #fff;
  opacity: 0.7;
}

.panel-text {
  float: left;
  font-size: 20px;
  font-weight: bold;
}

#lives {
  float: left;
}

.game-over {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1024px) {
  .display-3 {
    font-size: 2rem;
    -webkit-text-stroke-width: 1px;
  }

  #logoImage {
    height: 350px;
    width: 350px;
  }
}

@media (max-width: 768px) {
  .display-3 {
    font-size: 1.5rem;
    -webkit-text-stroke-width: 1px;
  }

  #logoImage {
    height: 250px;
    width: 250px;
  }
}

@media (min-width: 767.98px) and (max-width: 1024.02px) and (min-height: 1023.98px) and (max-height: 1366px) {
  /* @media (width:1024px) and (height: 1366px) { */
  .container {
    margin-top: 400px;
  }
}
